body{
    font-family: Arial,sans-serif;
    line-height: 1,6;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1,5;
}
main{
    margin:0 auto;
    width: 400px;
}
h1{
    margin: 10px;
    text-align: center;
}
img{
    width: 200px;
    height: auto;
    box-shadow:0 0 30px #333;
    align-self: center;
}
section{
    margin: 20px 0;
    padding: 10px;
    border: 1px  solid rgb( 0 0 0 /10%) ;
    background-color: #abe;
    font-size: .9rem;
}
section p{
    margin:  10px ;

}
ul{
    margin:  10px 20px;

}
footer{
    font-size: .9rem;
}